<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../style.css">
	<title>{{postTitle}}</title>
</head>
<body>
	<div id="wrapper">
		<header>
			<h1 id="post-title">{{postTitle}}</h1>
			<p id="post-author-timestamp"><i>by {{author}} on {{date}} at {{time}}</i></p>
		</header>
		<section id="post-body">
			{{postBody}}
		</section>
		<footer>
			<a href="http://dusansimic.me">Website</a> | <a href="http://twitter.com/dusan__simic">Twitter</a> | <a href="http://github.com/dusansimic">GitHub</a> | <a href="mailto:dusan.simic1810@gmail.com">Mail</a>
		</footer>
	</div>
</body>
</html>